@import url(https://fonts.googleapis.com/css?family=Roboto:300,600,900);
#tableGridPanel{
    position: relative;
    
}
.alert-zone {
    display: flex;
    width:100%;
    border-bottom: 2px solid grey;
}
.alerts-zone-heading{
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
    width: 95%;
    height: 11%;
}
.alerts-icon {
    width: 4%;
    margin-bottom: 2px;
}

.text-danger,.text-warning ,.text-primary{
	
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 13px;
}
.text-danger {
    background-color: red;
}
.text-warning {
	background: rgb(228, 188, 43);
	
}
.text-primary {
	background: rgb(33, 161, 33);

}

#tableGridPanel {
	.react-bs-table {
		.react-bs-container-header {
			& > table {
				& > thead {
					& > tr {
						& > th {
							&:first-child {
								border: none;
							}
						}
					}
				}
			}
		}
	}
}

     
