.card-tile{
    @include tile-card();
}
.card-heading{
    h1{
        @include heading-sub();
        margin:0;
        padding: 0;
    }
}
.data-container.dashboard {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-gap: 3%;
    
}

.db-header-label{
    width: auto;
    background-color: $card-bg-color;
    line-height: 78px;
    padding-left:  20px;
    border-radius: $border-radius;
    margin-top: 10px;
    
}
.db-alerts,.db-data-metrics,.db-plant-view{
    // background-color: #f7f7f7;
    padding: 20px;
}

.db-data {
    display: grid;
    grid-template-columns: 54% 44%;
    grid-gap: 2%;
}

.db-data-values {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-gap: 3%;
}

.asset-metrics-heading {
   display: flex;
//    border-bottom: 2px solid grey;
}

.heading {
    font-size: 17px;
    font-weight: bold;
    
    width: 95%;
    height: 11%;
}

.db-data-metrics-contents {
    display: flex;
    height:92%;
    width:100%;
}
