.data-container.dashboard {
    width: 80%;
    float: right;
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-gap: 3%;
    padding: 2%;
}
.db-header-label,.db-alerts,.db-data-metrics,.db-plant-view{
    background-color: #f7f7f7;
    padding: 3% 3%;
}
.db-data {
    display: grid;
    grid-template-columns: 54% 44%;
    grid-gap: 2%;
}
.db-data-values {
    display: grid;
    grid-template-rows: 28% 69%;
    grid-gap: 3%;
}
.asset-metrics-heading {
   display: flex;
   border-bottom: 2px solid grey;
}
.heading {
    font-size: 17px;
    font-weight: bold;
    
    width: 95%;
    height: 11%;
}

.db-data-metrics-contents {
    display: flex;
    height:92%;
    width:100%;
}
