/* structural classes */

@mixin card-tile() {
    padding: 50px ;
    border-radius: $border-radius;
    background-color: $card-bg-color;
}

@mixin ring-icon($color) {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $card-bg-color;
    border: 5px solid inset $color;   
}

/* structural classes */

/*structure style-sheet */

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: $base-color;
}

/*structure style-sheet */