@import url(https://fonts.googleapis.com/css?family=Roboto:300,600,900);
.zone-container{
    width: 80%;
    height: auto;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

    .zone-view {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .checkbox{
            width:50%;
            height: auto;
            border-bottom: 10px solid #464646;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            margin: 30px;
        }
    
        .upper{
            border-bottom: 1px solid #dedede;
            height: auto;
            font-size: 150%;
            font-weight: normal;
            text-align: center;
            margin: 10px auto;
            font-family: 'Roboto';
        }
        
        .lower{
            height: auto;
            font-size: 150%;
            font-weight: normal;
            text-align: center;
            margin: 10px auto;
            font-family: 'Roboto';
        }
    }
}

